.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .5);
  /* background-color: #000000;
  opacity: .5; */
  display: none;
  justify-content: center;
  z-index: 1000;
}
