.page {
  background-color: #000000;
  font-family: 'Inter', Arial, sans-serif;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 45px;
  padding-bottom: 60px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

@media screen and (max-width: 600px) {
  .page {
    padding-top: calc((100vw - 320px) / (1024 - 320) * (40 - 28) + 28px);;
    padding-bottom: calc((100vw - 320px) / (1024 - 320) * (55 - 36) + 36px);;
  }
}

@media screen and (max-width: 320px) {
  .page {
    padding-top: 28px;
    padding-bottom: 36px;
  }
}
