.profile__activity {
  order: 4;
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  max-width: 80%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .profile__activity {
    font-size: calc((100vw - 320px) / (1024 - 320) * (16 - 14) + 14px);
    line-height: 122%;
  }
}

@media screen and (max-width: 500px) {
  .profile__activity {
    text-align: center;
    max-width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .profile__activity {
    font-size: 14px;
    line-height: 17px;
  }
}
