.popup__close-button {
  background-image: url(../../../images/Close-Icon_edited.svg);
  width: 40px;
  height: 40px;
  background-size: cover;
  position: absolute;
  top: calc(50vh - 344px/2 - 40px);
  right: calc(50vw - 430px/2 - 40px);
}

@media screen and (max-width: 540px) {
  .popup__close-button {
    width: 26px;
    height: 26px;
    top: calc(50vh - 330px/2 - 26px - 17px);
    right: calc(50vw - 282px/2 + 4px);
  }
}
