.photo-content {
  width: 100%;
  max-width: 880px;
  padding-bottom: 66px;
  box-sizing: border-box;
}

@media screen and (max-width: 320px) {
  .photo-content {
    width: 100%;
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 48px;
  }
}
